html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

#getRoadList {
    width: 400px;
}

#getRoadList .default_input{
    width: 173px;
    padding: 0;
}



#getRoadList .default_input_checkbox {
    margin: 2px;
    width: 177px;
}

#getRoadList .default_input_checkbox input {
    float: left;
}

#getRoadList select{
    width: 177px;
}

#getRoadList div{
    float: right;
}

#getRoadList button, #getRoadList svg{
    margin: 20px;
}

